.ipad{
	background-image: url('img/ipad.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 1224px;
	height: 968px;
	margin: 0 auto;
	padding-top: 50px;
}
.container{
	margin: 0 auto;
	width: 1024px;
	height: 768px;
	background-image: url('img/background.png');
	background-size: contain;
	position: relative;
	-webkit-box-shadow: inset 0px 0px 15px -3px 

}


.middle-section{
	width: 400px;
	height: 400px;
	padding-left: 312px;	
	padding-top: 184px;
	z-index: 1;
	
}

.rotate{
	width: 400px;
	height: 400px;
	position: relative;
	-webkit-transform: rotate(-45deg);
}

.circle-left{
	margin: 0 auto;
	background-color: #242424;
	width: 400px;
	height: 200px;
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
	position: relative;
}

.circle-right{
	margin: 0 auto;
	background-color: #f8f8ff;
	width: 400px;
	height: 200px;
	border-top-left-radius: 200px;
	border-top-right-radius: 200px;
	-webkit-transform: rotate(180deg);
	position: relative;
}
.circle-middle{
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 100px;
	background-image: url('img/middle.png');
	background-size: contain;
	position: absolute;
	z-index: 10;
	border-radius: 200px;
}

p{
	text-align: center;
	font-size: 35px;
	font-family: helvetica;
	margin: 0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;  
    
}


.view-menu{
	line-height: 120px;
	color: white;

}

.services{
	line-height: 120px;
	-webkit-transform: rotate(-180deg);
}


.service-buttons{

}




.waiter{
	width: 148px;
	height: 115px;
	background-image: url('img/waiter.png');
	background-size: contain;
	position: absolute;
	left: 420px;
	top: 280px;


}

.water{
	width: 148px;
	height: 115px;
	background-image: url('img/water.png');
	background-size: contain;
	position: absolute;
	left: 420px;
	top: 280px;

}

.bill{
	width: 148px;
	height: 115px;
	background-image: url('img/bill.png');
	background-size: contain;
	position: absolute;
	left: 420px;
	top: 280px;
}


.menu ul{

    display: inline;
    list-style: none;

}








